#title {
    width: 500px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -250px;
    margin-top: 50px;
    
}

#container {
    width: 550px;
    height: 300px;
    background: antiquewhite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -125px;
}
