@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
}
.background-container{
    width: 100%;
    height: 100%;
    position:relative;
    z-index: 1;
    overflow: hidden;
}
.background-container::after{
    width:100vw;
    height:100vh;
    content:"";
    background-image: url('../img/backgroundImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    top:0;
    left: 0;
    z-index:-1;
    opacity: 0.4;
}
.container-xl{
    display: flex;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
}
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
    background-color: white;
    padding:1.5em;
    border:solid;
    border-color: black;
    border-radius: 1em;
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-weight: bolder;
    font-size: 3em;
    color:black;
}
#homeimg{
    display: flex;
    width: 25em;
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.idpw-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.btn-container{
    width:100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
#joinBtn{
    margin-left: 2%;
}
