.container-xl{
    position: relative;
    width:35em;
}
.content-container{
    padding-top:2%;
    padding-bottom: 2%;
    position:absolute;
    width:73%;
}
.title-container{
    display: flex;
    padding-bottom: 8%;
    width:100%;
}
.login-container{
    display: flex;
    flex-direction: column;
}
.id-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.detail-container{
    display: flex;
    justify-content: space-between;
}
.pw-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}
.pw1-container{
    display: flex;
    flex-direction: column;
}
#pswd1Btn{
    visibility: hidden;
}
.pw2-container{
    display: flex;
    flex-direction: column;
}
.nick-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.btn-container{
    display: flex;
    width:100%;
    padding-top:15%;
    padding-bottom: 3%;
    align-items: center;
    justify-content: space-between;
}