<!DOCTYPE html>
<html lang="en">
    <html lang="ko">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="/css/main.css">
            <link rel="stylesheet" href="/css/login.css">
            <title>회원가입 페이지</title>
        </head>
<body>
    <div class="background-container">
        <div class="container-xl">
            <div class="content-container">
                <div class="title-container">
                    <h1>회원가입</h1>
                </div>
                <div class="login-container">
                    <div class="id-container">
                        <label for="id" class="col-sm-2 col-form-label">ID</label>
                        <div class="row-cols-sm-10">
                            <input type="text" id="id" name="id" title="ID" maxlength="10" required >
                            <button type="submit" class="btn btn-outline-dark">아이디 확인</button>
                        </div>
                    </div>
                    <div class="pw-container">
                        <label for="password" class="col-sm-2 col-form-label">PassWord</label>
                        <div class="row-cols-sm-10">
                            <input type="password" id="pw" name="pw" title="PassWord" maxlength="20" required >
                            <button type="submit" class="btn btn-outline-dark">비밀번호 확인</button>
                        </div>
                    </div>
                    <div class="nick-container">
                        <label for="nickname" class="col-sm-2 col-form-label">NickName</label>
                        <div class="row-cols-lg-10">
                            <input type="text" id="nickname" name="nickname" title="NickName" maxlength="10" required >
                            <button type="submit" class="btn btn-outline-dark">닉네임 확인</button>
                        </div>
                    </div>        
                    <div class="btn-container">
                        <button type="button" class="btn btn-dark" onclick="location.href='/'">뒤로가기</button>
                        <button type="submit" id="joinResultBtn" class="btn btn-dark w-50">회원가입</button>     
                    </div>
                </div>
                            
            </div>
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>
<footer>
    <p class="mt-5 mb-3 text-muted">2023 우리는 아기 곰두리 다섯마리</p>
</footer>
</html>