<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/homeCss.css">
</head>
<body>
<div class="container">
    <div class="myInfo">
        <a href="/"></a>
        <h1>글 상세 페이지</h1>

        <h3 th:text="'콘텐츠 아이디 = ' + ${content.PKContentId}"></h3>
        <h3 th:text="'카테고리 아이디 = ' + ${content.categoryId}"></h3>
        <h3 th:text="'제목 = ' + ${content.title}"></h3>
        <h3 th:text="'내용 = ' + ${content.body}"></h3>
        <h3 th:text="'종료시간 = ' + ${content.endTime}"></h3>
        <h3 th:text="'장소 = ' + ${content.location}"></h3>
        <h3 th:text="'상태 = ' + ${content.contentState}"></h3>
        <button>참여</button>
    </div>
</div>

</body>
</html>